body {
    background-color: white;
}

header {
    color: rgb(103, 11, 83);
    background-color:rgb(248, 234, 236);
    text-align: center;
    padding: 5px;
    margin: 3px;
    font-size: xx-large;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


nav {
text-align: center;
padding: 4px;
margin-top: 3px;
margin-left: 3px;
margin-right: 3px;
background-color:rgb(253, 212, 218);

  }

a {
    color: rgb(103, 11, 83);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    text-decoration: none;
    margin: 5px;
}
a:hover {
    color: rgb(252, 133, 153);
}
input {
    float:right;
    width: 33cm;
    color: rgb(103, 11, 83);
    background-color: rgb(247, 234, 236);
    padding: 5px;
    margin: 1px;
}
section {
    background-color:rgb(249, 222, 226) ;
    color: rgb(103, 11, 83);
    padding: 20px;
    margin: 3px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
footer {
    text-align: center;
    color:rgb(103, 11, 83) ;
    background-color: rgb(248, 234, 236);
    padding: 1px;
    margin: 3px;
}

.carousel-caption {
    color: rgb(155, 114, 146);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 200px;
    text-align: center;
    
 }

 .carousel-item img {
    opacity: 0.5;
}
.search-container {
    display: flex;
    align-items: center;
  }
  
  .search-container input[type="text"] {
    padding: 8px;
    margin: 3px;
    border: none;
    outline-style: none;
  }
  
  
  .search-container button {
    padding: 8px 16px;
    background-color: rgb(253, 212, 218);
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 0px;
    margin-right: 3px;
    cursor: pointer;
  }
  
  .search-container button:hover {
    background-color:rgb(252, 166, 181) ;
  }

  .vertical-nav {
    left: 0;
    width: 150px;
    margin-left: 3px;
    background-color: rgb(248, 234, 236);
  }
  
  .vertical-nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color:rgb(103, 11, 83) ;
  }
  
  .vertical-nav a:hover {
    background-color:rgb(252, 166, 181) ;
  }
  
  .container {
    display: flex;
    margin-left: 0;
    padding: 0;
    border: 0;
    margin-top: 3px;
  }

  .rating {
    color: pink;
  }
  
  .rating .star::before {
    content: "\2605";
  }
  .productreview {
    margin: 3px;
    padding: 10px;
    color: rgb(103, 11, 83);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
  }
  
  .reviewfontsize {
    font-size: xx-large;
  }

  .reviewpage {
    text-align: center;
    margin: 3px;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(103, 11, 83);
  }

  .userreviews {
    margin: 3px;
    padding: 10px;
    padding-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(103, 11, 83);

  }
  .homepagetitle {
    text-align: center;
    margin: 3px;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(103, 11, 83);
  }

  .review-form {
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 60px;
    padding: 40px;
    padding-bottom: 55px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .review-form h2 {
    text-align: center;
  }
  
  .review-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .review-form input[type="text"],
  .review-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .rating {
    margin-bottom: 10px;
  }
  
  .rating input[type="radio"] {
    display: none;
  }
  
  .rating label {
    display: inline-block;
    cursor: pointer;
    color: #ddd;
    font-size: 25px;
  }
  
  .rating label:hover,
  .rating label:hover ~ label,
  .rating input[type="radio"]:checked ~ label {
    color: pink;
  }
  
  .rating label::before {
    content: "\2605";
  }
  
  .review-form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 5px;
    background-color: pink;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }